.static {
    position: static;
}

.relative {
    position: relative;
    top: 20px;
    left: 10px;
}

.absolute {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.fixed {
    position: fixed;
    bottom: 50px;
    width: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}